/* 公共样式 */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333;
    /* 防止body页面过小，内容溢出 */
    min-width: 1226px;
    height: 3000px;
}


/*设置容器宽度 */

.w {
    width: 1226px;
    margin: 0px auto;
}